apiVersion: apps/v1
kind: Deployment
metadata:
  name: medassist
  namespace: medassist-dev
spec:
  replicas: 1
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 0
      maxSurge: 1
  selector:
    matchLabels:
      app: medassist
  template:
    metadata:
      labels:
        app: medassist
    spec:
      containers:
        - name: medassist-api
          image: gcr.io/PROJECT_ID/IMAGE:latest
          ports:
            - containerPort: 8080
          env:
            - name: DATABASE_URL
              valueFrom:
                secretKeyRef:
                  name: medassist-secrets
                  key: DATABASE_URL
            - name: GEMINI_API_KEY
              valueFrom:
                secretKeyRef:
                  name: medassist-secrets
                  key: GEMINI_API_KEY
            - name: NODE_ENV
              value: "production"
          readinessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 5
          livenessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 10
            failureThreshold: 3
        - name: cloud-sql-proxy
          image: gcr.io/cloud-sql-connectors/cloud-sql-proxy:2.8.1
          args:
            - "--structured-logs"
            - "--port=5432"
            - "medassist-484313:us-central1:medassist"
          env:
            - name: GOOGLE_APPLICATION_CREDENTIALS
              value: /secrets/cloudsql/service_account.json
          volumeMounts:
            - name: cloudsql-instance-credentials
              mountPath: /secrets/cloudsql
              readOnly: true
          securityContext:
            runAsNonRoot: true
      volumes:
        - name: cloudsql-instance-credentials
          secret:
            secretName: cloudsql-instance-credentials